@charset "utf-8";

* {
  margin: 0px;
}

body {
  height: 100vh;
  position: relative;
  background-color: rgb(247, 210, 250);
}


img {
  height: 500px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: hsl(100, 100%, 100%);
  height: 500px;
  width: 700px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

h1 {
  font-size: 2.6em;
  font-weight: bolder;
  font-family: 'fraunces', 'kaushan';
}

.center > p {
  color: gray;
}

p {
  font-size: 1.3em;
  font-family: 'montserrat';
}

div.preço {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preço h1 {
  margin-right: 40px;
  color: #3c8067;
}

.preço p {
  text-decoration: line-through;
  color: gray;
}

button {
  color: white;
  font-size: 1.1em;
  height: 50px;
  width: 300px;
  margin: 15px;
  border-radius: 15px;
  background-color: #3c8067;
  border: none;
}

button > img {
  height: 55%;
  margin-right: 15px;
}


@media(max-width: 680px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 800px;
  }

  .center {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    margin: 10px 35px;
  }

  .center p {
     margin: 15px 0px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
  }
  
  button {
    width: 97%;
    margin-left: 0%;
  }
}