@charset "utf-8";

* {
  margin: 0px;
}

body {
  background-color: rgb(247, 210, 250);
}


img {
  height: 600px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: hsl(100, 100%, 100%);
  height: 600px;
  width: 800px;
  border-radius: 15px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

h1 {
  font-size: 2.6em;
  font-weight: bolder;
  font-family: 'fraunces', 'kaushan';
}

p {
  font-size: 1.3em;
  font-family: 'montserrat';
}

div.preço {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preço h1 {
  margin-right: 40px;
}

.preço p {
  text-decoration: line-through;
}

